@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

#Conteiner {

    width: 80%;
    height: 50%;
    margin:  0 auto;
    padding: 25px;
    text-align: center;
    background-color: white;

    
}

header {
    width: 100%;
    margin: 44px 0px 144px 66px;
}

.link-header {

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    margin-right: 23px;
}

a {
    text-decoration: none;

}

#button-header {

    background: #665AE1;
    border-radius: 20.5px;
    Width: 130px;
    Height: 41px;
    border: none;

}

#button-header a {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;

}

figure {

    width: 560px;
    height: 500px;
    display: inline-block;

}

figure img {

    width: 100%;
    height: 100%;
    
}

section {
    margin-left: 250px;
    display: inline-block;

}

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
    
}

h2 {
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    width: 515px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
}

#button-cont {

    Width: 239px;
    Height: 64px;
    border-radius: 20.5px;
    margin-top: 30px;
    background: #ADFF00;
    border-radius: 20.5px;
}

#button-cont a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;

    color: #000000;
}
footer{

    width: 100%;
    height: 5px;
    margin-top: 20%;
}